/* Estilo para centrar todo */
/* body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    height: 100vh;
    margin: 5px;
} */



header{
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    align-items: center;
}

/* Estilo para el menú */
.filtros{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: gray;
    padding: 8px 50px 8px 50px;
    border-radius: 27px;
    /* position: fixed; */
    margin: 10px 60px 10px 60px 
}

/* Estilo para la imagen del botón "Filtros" */
.filtro-icon {
    width: 24px; 
    height: 24px;
    margin-right: 5px; 
}

.form-check{
    margin: 5px;

}

.checkbox{
    padding: 3px;
    margin-left: 2px;
    margin-left: 2px;
}


.grid-container {
    display: grid;
    /* flex-wrap: nowrap; */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 100px;
    margin: 20px 60px 10px 59px;
    /* margin-top: 22px; */
    align-items: center;
    flex-direction: column-reverse;
    align-content: space-around;
    justify-content: center;
    border: black solid;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
}

.grid-item {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
